body{
	background-color: #E8E8E8;
	font-family: "Microsoft YaHei";
	FILTER: progid:DXImageTransform.Microsoft.Alpha(  
style=1,opacity=50,finishOpacity=80,startX=300,finishX=450,startY=100,finishY=150); BACKGROUND-COLOR:
skyblue
}
#container{
	margin-top: 0px;
	text-align: center;
}

#msgplace{
	overflow-y:auto;
	text-align: center;
	height: 880px;

}
#personMsg{
	margin-left: 40px;
	width: 800px;
	height: 100px;
	margin-top: 20px;
    background-color:#fff;
    -moz-border-radius:5px; 
    -khtml-border-radius:5px; 
    -webkit-border-radius:5px;
    border-radius:10px;  
    border:#909090 1px;
}
.usern{
	color: #ff0000;
}
#obj{
	color: #00CC33;
}
#comments{
	font-family: "Microsoft YaHei";
	width:487px;
	height: 150px;
}
#vipInfo{
	width: 310px;
	height: 200px;
	margin-top: 20px;
	background-color:#fff;
    font-family: "Microsoft YaHei";
}
.details{
	margin-left: 20px;
	margin-top: 8px;
}

#call_board{
	width: 310px;
	height: 180px;
	margin-top: 25px;
	background-color:#fff;
}
#abloutComments{
	overflow-y:auto;
	text-align: center;
	width:310px;
	height: 440px;
	margin-top: 30px;
	background-color:#fff;
}
#content{
	width: 278px;
	font-family: "Microsoft YaHei";
}
.mes{
	color: #993300;
}
/*下面这个是分页按钮的设置*/
#Pages{
	float: right;
}