<head>
  <title>EasyVoice</title>
  <link rel="icon" href="https://www.meteor.com/favicon.ico" type="image/x-icon">
<script>
  window._bd_share_config = {
    common : {
      bdText : '清爽的界面，哥几个或者姐妹们咱瞧瞧吧！http://dzhangblog.meteor.com/', 
      bdDesc : '这个网站做得不错哦，清爽的界面，哥几个或者姐妹们咱去瞧瞧吧！http://dzhangblog.meteor.com/', 
      bdUrl : 'http://dzhangblog.meteor.com',
    },
    share : [{
      "bdSize" : 16
    }],
    slide : [{     
      bdImg : 0,
      bdPos : "left",
      bdTop : 100
    }]
  }
  with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>
</head>
<body>

  <div id="mainlayout">
    <div class="navbar navbar-static-top">
    <div class="navbar-inner">
          <ul class="nav navbar-nav">
            <li class="brand">EasyVoice</li>
          </ul>
          <a href="#profile" role="button" class="btn btn-primary" style="float:right;margin-right:10px" data-toggle="modal">关于本站</a>
            <div id="profile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myml" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myml">About</h3>
                <div class="modal-body">
                  <h5 class="lead"><strong>本站宗旨：</strong></h5>
                  <ul>
                    <li>本站旨在提供您郁闷或者开心时说出此刻心里EasyVoice的平台</li>
                    <li>永远不打广告！</li>
                  </ul>
                  <h5 class="lead"><strong>开发信息：</strong></h5>
                  <ul>
                    <li>本站开发环境：handlebars+Meteor+MongoDB+Bootstrap</li>
                    <li>本站近期最后一次更新时间为2014-3-28,持续更新中,敬请期待···</li>
                  </ul>
                  <h5 class="lead"><strong>本站此次更新增添的功能</strong></h5>
                  <ul>
                    <li>更新了UI</li>
                    <li>添加管理权限</li>
                    <li>做了该做数据查询优化</li>
                    <li>添加分享的功能，让更多的人关注</li>
                    <li>使用了分页技术，这使得首次加载时速度得到提高</li>
                  </ul>
                  <h5 class="lead"><strong>联系我：</strong></h5>
                  <ul>
                    <li>Email：<a href="mailto:zdwloveschina@gmail.com">zdwloveschina@gmail.com</a></li>
                    <li>博客园：http://www.cnblogs.com/struCoder</li>
                  </ul>
                </div>
             <div class="modal-footer">
              <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">关闭</button>
             </div>
        </div>
     </div>
    </div>
  </div>
  {{>manage}}
  <div id="container" class="footer">
    <hr/>
    <footer>
      <p><small>DZhang | JASON <br>&copy; 2014</small></p>
    </footer>
  </div>
  </div>

</body>


<template name="manage">
    {{>mainlayout}}
</template>

<template name="mainlayout">
  <div style="float:left;margin-left:30px">
    <div id="vipInfo">
      <div class="details">
        <i class="icon-user"></i>
        {{>loginButtons}}
        {{#if currentUser}}
          欢迎回来
          {{>postMsg}}
         {{else}}
         会员登录<br><br>
         <span class="label label-inverse">非会员欢迎注册</span>
          {{/if}}        
      </div>
    </div>

    <div id="call_board">
      <div class="details">
        <p>公告：</p>
        <p>
          <ul>
            <li>
              <small>注册时,填上您在用的邮箱以便密码遗忘后找回</small>
            </li>
            <li><small>在欢迎注册本站的同时,文明发帖,恶意贴将被删除</small></li>
            <li><small>发帖时请正常发帖,不要发一串数字或者字母,否则将被删除</small></li>
          </ul>
        </p>
      </div>
    </div>
    <div id="abloutComments">
        {{>usersComments}}
   </div>
 </div>
     <div id="msgplace">
      {{#each msg}}
        <div id="personMsg">
         <p class="text-left">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;By：<span class="usern">{{uname}}</span> | 
           发表于：<small>{{sayTime.minute}}</small> | 
           <small>评论数:<span class="badge badge-info">{{comments.length}}</span></small>
           <button id="{{_id}}" class="removeMsg close">×</button>
          </p>
         {{messages}}<br><br>

         <div class="btn-group pull-right">
             <a href="#toSee" title="查看评论" id="{{_id}}" role="button" class="clickToSee btn btn-info" data-toggle="modal">
               <i class="icon-th-list"></i>
             </a>
                 <div id="toSee" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="userComs" aria-hidden="true">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="userComs">评论详情</h3>
                 </div>
                 <div class="modal-body">
                   <h5>
                    {{#each printComments}}
                    {{#each comments}}
                    <div class="row"><small>评论者：<span class="usern">{{comment_user}}</span> | 
                    评论时间：{{time.minute}}</small>
                  </div>
                     {{contents}}
                     {{/each}}
                   {{/each}}
                   </h5>
                 </div>
                 <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
              </div>
              
              {{#if currentUser}}
                <a tabindex="-1" href="#com" title="点击评论" class="comment btn btn-warning" data-toggle="modal">
                 <i class="icon-pencil"></i>
               </a>
              {{else}}
                <a tabindex="-1" href="#" title="需登录方可评论" class="comment btn" disabled data-toggle="modal">
                  <i class="icon-pencil"></i>
                </a>
              {{/if}}

        </div>
      
        <div id="com" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ml" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 id="obj">对此会员的状态谈谈你的看法</h4>
          </div>
           <div class="modal-body">
               <textarea rows = "5" cols="200" id="comments" placeholder="字数>=0 && 字数<=38"></textarea>
           </div>
          <div class="modal-footer">
            <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">关闭</button>
            <button class="btn btn-danger" id="subContent" data-dismiss="modal">提交</button>
         </div>
        </div>
       </div>
     {{/each}}

     <div id="Pages">
      <ul class="pager">
        <li><button class="btn" id="pre">&larr;</button></li>
        <li><button class="btn" id="next">&rarr;</button></li>
      </ul>
     </div>
    </div>
    
</template>

<template name="postMsg">
  <form class="form" id="postForm">
    <span class="label pull-right">此刻想说</span>
     <textarea id="content" rows="5" class="form-control" placeholder="length >= 6 && length <= 38"></textarea>
     <div id="post_Msg" class="btn btn-success pull-right">
        <i class="icon-comment icon-white"></i>Say
     </div>
  </form>
</template>

<template name="usersComments">
  {{#if currentUser}}
  <div id="clicktoComments" class="btn btn-inverse">查看/隐藏</div><br>
  {{#each details}}
    <div class="row">
      <small>
        <span class="badge badge-success">
          {{comments.length}}
        </span>条评论:在您的状态：<br>
        <span class="mes">{{messages}}</span>
      </small>
    </div>
  {{/each}}
  {{else}}
  <strong>会员先登录！</strong><br>
  如果您还未是本站的会员请先注册，<br>
  才可以EasyVoice  :)
  {{/if}}
</template>
